venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
merge.ps1
survey
static
LICENSE 
Procfile
requirements_base.txt
requirements.txt
settings.py
_rooms
_static
_templates
