{% load otree %}
{% load otree static %}

<div class="card bg-light m-2 p-1">
    <div class="card-body">
    <h3>
        Background
    </h3>
    <p>
        Dummy 2
    </p>
    <!-- <style>
        .wrong-answer {
            display: block;
            opacity: 1;
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left: -150px;
            margin-top: -245px;
            font-size: 300px;
            font-weight: 700;
            color: red;
            opacity: 0;
          }
        .temp-box {
            background-color: lightgrey;
            width: 300px;
            border: 15px solid green;
            padding: 5px;
            margin: 20px;
            text-align: left;
          }
    
    </style>
    <div class="temp-box">
        <ul>
            <li>Place Holder 1</li>
            <li>Place Holder 2</li>
            <li>Place Holder 3</li>
            <li>Place Holder 4</li>
            <li>Place Holder 5</li>
        </ul>
        <img src="{% static 'stickman.jpeg' %}" class="img-thumbnail"/>
    </div> -->

    
</div>
</div>